<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="./less/main.less">
    <title>练习</title>
    <script src="./js/jquery-1.11.3.min.js"></script>
    <script src="./js/underscore.js"></script>
<body>
    <div class="main">
        <header>
            <ul class="introduce clearfix">
                <li><img src="./images/1.jpg?__sprite" alt="头像"></li>
                <li>naliuxe</li>
                <li></li>
            </ul>
            <p>
                <input type="search" placeholder="搜索">
            </p>
            <ul class="icon clearfix">
                <li><img src="./images/tu1.png?__sprite" alt="icon1"></li>
                <li><img src="./images/tu2.png?__sprite" alt="icon1"></li>
                <li><img src="./images/tu3.png?__sprite" alt="icon1"></li>
            </ul>
        </header>

        <article id="container">
            <script type="text/template" id="tpl">
                <% _.each(data, function(val) {%>
                    <section>
                        <ul class="con-tit clearfix">
                          <li><img src='<%= val.hImg %>' alt="头像"></li>
                          <li><%= val.name %></li>
                          <li><%= val.time %></li>
                        </ul>
                        <ul class="content clearfix">
                          <% _.each(val.all, function(d) {%>
                          <li>
                            <p><%= d.intro %></p>
                            <p><img src="<%= d.img %>" alt="图片"></p>
                          </li>
                          <% });%>
                        </ul>
                    </section>
                <% });%>
            </script>
        </article>
    </div>
    <script type="text/javascript">
      var data = [
        {
          name: 'IT时代周刊',
          hImg: './images/1.jpg',
          time: '10:29',
          all: [
            {
              img: './images/2.jpg',
              intro: '第四届反贫困与儿童发展国际研讨会将于北京钓鱼台国宾馆开幕。国务院副总理刘延东、多国部长代表、国际组织和非政府组织负责人与著名学者将悉数出席'
            },
            {
              img: './images/3.jpg',
              intro: 'Larry Wall 专访：语言学、Perl 6 的设计和发布》Larry Wall 是个相当有趣的人。他是编程语言 Perl 的创造者，这种语言被广泛的誉为将互联网粘在一起的胶水'
            },
            {
              img: './images/4.jpg',
              intro: '第四届反贫困与儿童发展国际研讨会将于北京钓鱼台国宾馆开幕。国务院副总理刘延东、多国部长代表、国际组织和非政府组织负责人与著名学者将悉数出席'
            }
          ]
        },
        {
          name: '今日新闻la',
          hImg: './images/6.jpg',
          time: '01:26',
          all: [
            {
              img: './images/5.jpg',
              intro: '第四届反贫困与儿童发展国际研讨会将于北京钓鱼台国宾馆开幕。国务院副总理刘延东、多国部长代表、国际组织和非政府组织负责人与著名学者将悉数出席'
            },
            {
              img: './images/6.jpg',
              intro: 'Larry Wall 专访：语言学、Perl 6 的设计和发布》Larry Wall 是个相当有趣的人。他是编程语言 Perl 的创造者，这种语言被广泛的誉为将互联网粘在一起的胶水'
            }
          ]
        }
      ];
      var compiled = _.template($('#tpl').html());
      $('#container').html(compiled(data));
    </script>
</body>
</html>
